# Deno specific
.env

# Compiled binaries
/ghadmin
/ghadmin.exe

# DevBox
.devbox/

# Nix
result
result-*
.direnv/

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode/
.idea/
*.swp
*.swo
dist
